<div class="popup-dialog" id="add-dialog">
    <table>
        <tbody>
            <tr>
                <td>Customer ID:</td>
                <td>
                    <input type="text" class="customer-id"/>
                    <div class="validation-message"></div>
                </td>
            </tr>
            <tr>
                <td>Company Name:</td>
                <td>
                    <input type="text" class="company-name" />
                    <div class="validation-message"></div>
                </td>
            </tr>
            <tr>
                <td>Contact Name:</td>
                <td>
                    <input type="text" class="contact-name" />
                    <div class="validation-message"></div>
                </td>
            </tr>
            <tr>
                <td>Contact Title:</td>
                <td><input type="text" class="contact-title" /></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>
                    <textarea class="address"></textarea>
                    <div class="validation-message"></div>
                </td>
            </tr>
            <tr>
                <td>City:</td>
                <td>
                    <input type="text" class="city" />
                    <div class="validation-message"></div>
                </td>
            </tr>
            <tr>
                <td>Region:</td>
                <td>
                    <input type="text" class="region" />
                    <div class="validation-message"></div>
                </td>
            </tr>
            <tr>
                <td>Postal Code:</td>
                <td>
                    <input type="text" class="postal-code" />
                    <div class="validation-message"></div>
                </td>
            </tr>
            <tr>
                <td>Country:</td>
                <td>
                    <input type="text" class="country" />
                    <div class="validation-message"></div>
                </td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>
                    <input type="text" class="phone" />
                    <div class="validation-message"></div>
                </td>
            </tr>
            <tr>
                <td>Fax:</td>
                <td>
                    <input type="text" class="fax" />
                    <div class="validation-message"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button">Add New Customer</button>
    <a href="javascript:;" class="close-button" id="close-add-button">Close Dialog</a>
</div>

