<div class="popup-dialog" id="delete-dialog">
    <input type="hidden" class="customer-id"/>
    <p>Apa anda yakin ingin menghapus customer ini?</p>
    <button type="button">Delete Customer</button>
    <a href="javascript:;" class="close-button" id="close-delete-button">Cancel</a>
</div>
<div class="popup-dialog" id="fail-delete-dialog">
    <p>Customer tidak bisa dihapus karena ada satu atau lebih order/demographics yang terhubung dengan customer ini.</p>
    <a href="javascript:;" class="close-button" id="close-fail-delete-button">Close Dialog</a>
</div>