<div class="popup-dialog">
    <table>
        <tbody>
            <tr>
                <td>Address: </td>
                <td><span class="address"></span></td>
            </tr>
            <tr>
                <td>City: </td>
                <td><span class="city"></span></td>
            </tr>
            <tr>
                <td>Region: </td>
                <td><span class="region"></span></td>
            </tr>
            <tr>
                <td>Postal Code: </td>
                <td><span class="postal-code"></span></td>
            </tr>
            <tr>
                <td>Country: </td>
                <td><span class="country"></span></td>
            </tr>
            <tr>
                <td>Phone: </td>
                <td><span class="home-phone"></span></td>
            </tr>
            <tr>
                <td>Extension: </td>
                <td><span class="extension"></span></td>
            </tr>
        </tbody>
    </table>
    <a href="javascript:;" class="close-button">Close Dialog</a>
</div>
