
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Judul{
    500 Internal Server Error
}

<p>Mohon maaf, ada kendala pada sistem kami. Team IT mungkin sedang memperbaiki ini.</p>
<p>Apabila butuh bantuan lebih lanjut silahkan hubungi Wisnu dengan nomor telpon: 081000omongkosong.</p>

